@charset "UTF-8";
body {
  background-color: #176893;
}
body * {
  box-sizing: border-box;
}

span {
  font-weight: bold;
}

table img {
  height: 80px;
  width: 80px;
  border-radius: 20px;
}

.tick {
  width: 20px;
  height: 20px;
}

/*
TEST
 */

table {
  display: table;
  text-align: center;
  margin: 0 auto;
  font-family: "Poppins-Regular";
}
table tr {
  display: table-cell;
}
table tr td {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*


 */
.comparator {
  text-align: center;
  margin-top: 50px;
  color: ;
  font-size: 2.5rem;
}
td {
  min-height: 150px;
  min-width: 170px;
  background-color: lightgray;
}
.tabheader {
  min-height: 90px;
}
.table-users{
  overflow-x: auto;
  margin: 20px auto 75px auto;
  max-height: 70%;
}
.sticky {
  position: fixed;
  top: 0;
}
.table_logo {
  position:absolute;
}
td:nth-child(2n) {
  background-color: #979aa0;
}
tr td:nth-child(1) {
  background-color:#EEEBE7;
}
tr td:nth-child(2) {
  background-color:#EEEBE7;
}
tr td:nth-child(3) {
  background-color:#EEEBE7;
}
tr:nth-child(1) {
  background-color: #EEEBE7;
  font-weight: bold;
}
.pos-absolute {
  position: absolute;
}